button{
    background-color: blue;
    color: burlywood;
    width: 40;
    height: 20;

    border-radius: 30;
    border-color: blueviolet;
    }
    body
    {
        background-color:darkslategrey
    }